<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036042917246-6mb8r10b61jjekqg8ref1rudd10idfcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036042917246-6mb8r10b61jjekqg8ref1rudd10idfcu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036042917246-6fe9ou9fhce44268h0ssltclss6rud2d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6hQANKtKpk7_ZgtubVOEWUhwSvcAn6P0</string>
	<key>GCM_SENDER_ID</key>
	<string>1036042917246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grindrguy.grindrx</string>
	<key>PROJECT_ID</key>
	<string>api-project-1036042917246</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-1036042917246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036042917246:ios:d61c279763a9e229</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-1036042917246.firebaseio.com</string>
</dict>
</plist>